body{
    background-color:#7d7d7d
}

.auto{
    
     text-align: center;
}
.main{
    width:30% ;
   background-color: antiquewhite;
padding: 20px;
border: 1px solid #7d7d7d ;
margin: auto;
border-radius: 5px ;
}
button{
   margin-top:5px;
    padding: 10px;
  border: 1px solid #7d7d7d ;
border-radius: 5px ;
}